:root {
    --primary-color: #FF7700;
    --secondary-color: #FF7700;
    --primary-back: white;
    --secondary-back: #F5F5F5;
    --nav-color: #D86500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #ff7a00;
    /* Bright orange background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 420px;
}

.login-card {
    background: white;
    padding: 40px 35px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
}

.logo-icon {
    width: 45px;
    height: 45px;
    background: #ff7a00;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-size: 26px;
    font-weight: bolder;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #333;
}

.link {
    display: block;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    color: #555;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.password {
    display: flex; 
    justify-content: space-between;
}
.password input {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}
.password input {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    border: none;
    display: inline; 
    width: auto; 
    height: auto;
    padding: 0; 
    margin: 0;   
}